Can not load image when the URL has Chinese

Such like this:
```Swift
let imageString = "http://onivcbznk.bkt.clouddn.com/QQ截图20170411141750.png"
cell.imageView.kf.setImage(with: URL.init(string: imageString))
``` 



You need a valid url which conforms to RFC 1808, RFC 1738, and RFC 2732. Try to make sure your URL is not `nil` before sending it to Kingfisher.
